.cataloge{
  &__cont{
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-gap: 70px;
  }
  &__left{

  }
  &__right{

  }
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,175px));
    grid-gap: 20px;
  }
  &__item{

  }
}