@import '../core/breakpoints.scss';

.home{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	&__background{
		position: absolute;
		width: 100%;
		right: 0;
		height: 100%;
		&::before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(0,0,0, .5), rgba(0,0,0,.5));
		}
		@include desde(m){
			width: 50%;
		}
	}
	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	&__wrapper{
		width: 80%;
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
		// @include desde(m){
		// 	width: 100%;
		// }
	}
	&__logo{
		position: absolute;
		left: 0;
		top: 20px;	
		width: 120px;
		@include desde(m){
			width: auto;
		}
	}
	&__left{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include desde(m){
			width: 50%;
		}
	}
	&__subtitle{
		font-weight: 300;
		font-size: 20px;
		color: #fff;
		@include desde(m){
			color: #999693;
		}
	}
	&__title{
		font-weight: 700;
		font-size: 30px;
		width: 70%;
		color: #fff;
		@include desde(m){
			color: #333;
			font-size: 60px;
		}
	}
	&__search{
		width: 100%;
		margin-top: 20px;
		@include desde(m){
			width: 70%;
		}
	}
	&__datalist{
		width: 100%;
		color: #333;
	}
	&__input-search{
		height: 40px;
		width: 100%;
		line-height: 20px;
		font-size: 16px;
		display: flex;
		align-items: center;
		padding: 0 5px;
		@include desde(m){
			height: 60px;
			line-height: 30px;
			font-size: 22px;
		}
	}
	&__buttons{
		display: flex;
		margin-top: 20px;
	}
	&__btn{
		cursor: pointer;
		border: 0;
		width: calc(50% - 5px);
		padding: 12px;
		color: white;
		background-color: #f57c00;
		margin-right: 10px;
		font-weight: 700;
		&:nth-last-child(1){
			margin-right: 0;
		}
		@include desde(m){
			padding: 20px;
		}
	}
	&__brands{
		width: 80%;
	}
}