.selectbox{
  box-shadow: none;
  width: 100%;
  border: solid 1px rgb(189, 189, 189);
  background: transparent;
  height: 35px;
  border-radius: 3px;
  appearance: none;
  padding: 0 20px;
  color: #666;
}