@import '../core/breakpoints';

.sidebar-filter{
  position: sticky;
  top: 0;
  &__action{
    position: absolute;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    top: -20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 140px;
    text-align: center;
    @include desde(m){
      display: none;
    }
  }
}